@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #ccc;
  font-family: 'Oswald', 'Arial', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #555;
}

.red {
  color:  red;
}

.blue {
  color:  blue;
  text-align: center;
  font-weight: bold;
  size: 2rem;
}

.header {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
}

.header-top,
.nav {
  flex: 1 0 50%;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

.header-text,
.nav-link {
  flex: 1 0 33%;
  text-align: center;
}

.header-text.title {
  font-size: 5vw;
}

.header-text.disclaimer {
  text-align: left;
  color: red;
}

.data-rows {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.data-rows > div:not(.row) {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.row {
  flex: 0 0 50px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.row div {
  flex: 1;
  margin: 0px 5px;
  vertical-align: middle;
  line-height: 50px;
  font-size: 1rem;
}

.cause,
.charges {
  text-align: right;
}

.row:first-child {
  font-weight: bold;
  background-color: #666;
  color: #eee;
}

.row:nth-child(even) {
  color: #802475;
}

.selection {
  display: flex;
  flex-flow: row wrap;
}

.select-wrapper {
  flex: 1 0 25%;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.select-wrapper * {
  max-width: 100%;
}

.show-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.show-top, .show-middle, .show-bottom {
  flex: 1;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

.show-bottom {
  flex-direction: column;
}

.show-image,
.show-top-right {
  flex: 0 1 50vw;
  width: 50vw;
  max-height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.show-top-right p:first-child {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.no.show-image {
  background-color: #777;
  text-align: center;
  font-size: 3em;
  min-height: 100%;
}

.show-top-right {
  display: flex;
  flex-flow: column nowrap;
}

.show-top-right span {
  margin-right: 10px;
}

.congress-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  box-sizing: border-box;
}

.congress-headers {
  text-align: center;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0px 10px;
}
.congress-row {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.congress-row span {
  flex: 1 0 33%;
}

.home-wrapper {
  width: 100%;
  margin: 0 auto;
}

.pagination {
  width: 200px;
  left: calc(50% - 100px);
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

@media only screen and (min-width: 601px) {
  .home-wrapper {
    width: 60%;
  }
}
